<launch>
  <arg name="scan_topic"  default="/scan" />
  <arg name="serial_port"  default="/dev/ttyACM0"/>
  <arg name="baud_rate"  default="57600"/>

  <include file="$(find openni2_launch)/launch/openni2.launch"/>

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
    <param name="port" value="$(arg serial_port)"/>
    <param name="baud" value="$(arg baud_rate)"/>
  </node>

  <node name="odom_publisher" pkg="bling_bot" type="odom_publisher.py" output="screen"/>
  <node name="cmd_vel_subscriber" pkg="bling_bot" type="cmd_vel_subscriber.py" output="screen" launch-prefix="sudo"/>

  <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan_loader" args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet /camera/camera_nodelet_manager">
      <!-- Pixel rows to use to generate the laserscan. For each column, the scan will
           return the minimum value for those pixels centered vertically in the image. -->
      <param name="scan_height" value="10"/>
      <param name="output_frame_id" value="/camera_depth_frame"/>
      <param name="range_min" value="0.45"/>
      <remap from="image" to="/camera/depth/image_raw"/>
      <remap from="scan" to="$(arg scan_topic)"/>

      <!-- Somehow topics here get prefixed by "$(arg camera)" when not inside an app namespace,
           so in this case "$(arg scan_topic)" must provide an absolute topic name (issue #88).
           Probably is a bug in the nodelet manager: https://github.com/ros/nodelet_core/issues/7 -->
      <remap from="/camera/image" to="/camera/depth/image_raw"/>
      <remap from="/camera/scan" to="$(arg scan_topic)"/>
  </node>
</launch>
