<launch>
  <arg name="scan_topic"  default="/scan" />
  <arg name="base_frame"  default="base_link"/>
  <arg name="odom_frame"  default="odom"/>
  <arg name="publish_tf"  default="true"/>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_base_laser_link" args="0.085 0 0.12 0 0 0 1 /base_link /camera_depth_frame 100" />

  <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping" output="screen">
      <param name="delta" value="0.01"/>
      <param name="xmin" value="-20"/>
      <param name="xmax" value="20"/>
      <param name="ymin" value="-20"/>
      <param name="ymax" value="20"/>
      <remap from="scan" to="/scan"/>
      <param name="base_frame" value="/base_link" />

      <param name="linearUpdate" value="0.5"/>
      <param name="angularUpdate" value="0.436"/>
      <param name="temporalUpdate" value="-1.0"/>
      <param name="resampleThreshold" value="0.5"/>
      <param name="particles" value="80"/>

    </node>

	<include file="$(find bling_bot)/launch/move_base.launch"/>

</launch>
